<section class="main-content">
  <div class="container">
    <div class="contents">
      <div class="transfer-box">
        <div class="box-header box-header--1">
          <img
            src="/assets/icons/arrows_final.png"
            alt="Arrows"
            class="box-header-img"
          />
          <h4 class="box-header-title">Make a Transfer</h4>
        </div>
        <div class="box-content">
          <div class="form-group">
            <label for="fa">FROM ACCOUNT</label>
            <input
              type="text"
              class="input-box"
              id="fa"
              value="Free Checking(4692) - $5824.76"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="ta">TO ACCOUNT</label>
            <input type="text" class="input-box" id="ta" />
          </div>
          <div class="form-group">
            <label for="am">AMOUNT</label>
            <input type="text" class="input-box" id="am" placeholder="$ 0.00" />
          </div>
          <div class="btn-group">
            <a href="#" class="btn btn-primary">SUBMIT</a>
          </div>
        </div>
      </div>
      <div class="transactions-box">
        <div class="box-header">
          <img
            src="/assets/icons/briefcase_final.png"
            alt="Arrows"
            class="box-header-img"
          />
          <h4 class="box-header-title">Recent Transactions</h4>
        </div>
        <div class="box-content">
          <div class="options-row">
            <div class="form-group search-text">
              <input
                type="text"
                class="input-box"
                placeholder="Search by typing"
              />
            </div>
            <div class="sort-group">
              <label for="">Sort by</label>
              <a href="#" class="btn btn-white">Date</a>
              <a href="#" class="btn btn-white">Benificiary</a>
              <a href="#" class="btn btn-white">Amount</a>
            </div>
          </div>
          <div class="transactions">
            <div *ngFor="let t of transactionsArray; let i = index" class="transaction" [ngStyle]="{'border-left': '6px solid ' + t.categoryCode}">
              <span>{{ t.dates.valueDate | date: 'MMM d' }}</span>
              <div class="trans-details">
                <div class="merchant">
                  <img [src]="getMerchantLogoUrl(t.merchant.name)" alt="" class="merchant-image">
                  <span>{{ t.merchant.name }}
                    <br><span class="m-type">{{ t.transaction.type }}</span>
                  </span>
                </div>
                <span>${{ t.transaction.amountCurrency.amount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
